{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load static %}

{% block title %}
    فروشگاه | صفحه اصلی
{% endblock %}


{% block content %}
    <section class="ltr"><!--slider-->
        <div class="custom-container">
            <div class="row ">

                <div class="main-slider ltr">
                    {% for slider in sliders %}
                        <div class="">
                            <img src="{{ slider.image.url }}" class=" girl"
                                 alt=""/>
                        </div>
                    {% endfor %}
                </div>

                <a class="left control-carousel control-left hidden-xs prev-0">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right control-carousel control-right hidden-xs next-0">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>


        </div>

    </section><!--/slider-->


    <section class="ltr ">


        <div class="recommended_items "><!--NewProduct_items-->
            <h2 class="title text-center">جدیدترین محصولات</h2>
            <div class="container center-block">
                <div class="row">
                    <div class="col-md-12">


                        <div class="product-slider-1 ltr ">
                            {#                            <div class="card__wrap--outer">#}
                            {% for product in latest_products %}

                                {% include 'product_module/includes/slick_card.html' %}

                            {% endfor %}
                            {#                            </div>#}
                        </div>
                        <a class="left control-carousel product-control-carousel control-left prev-1">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right control-carousel product-control-carousel control-right next-1">
                            <i class="fa fa-angle-right"></i>
                        </a>

                    </div>
                </div>
            </div>


        </div><!--/NewProduct_items-->


        <div class="features_items"><!--RetailSale_items-->
            <h2 class="title text-center">پربازدیدترین محصولات</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 center-block">
                        <div class="product-slider-2 ltr ">
                            {% for product in most_visit_products %}
                                <div class="">
                                    {% include 'product_module/includes/slick_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left control-carousel product-control-carousel control-left prev-2">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right control-carousel product-control-carousel control-right next-2">
                            <i class="fa fa-angle-right"></i>
                        </a>

                    </div>
                </div>
            </div>


        </div><!--RetailSale_items-->


        <div class="container ">

            <div class="features_items"><!--RetailSale_items-->
                <h2 class="title text-center">پر فروش ترین محصولات</h2>
                <div class="row">
                    <div class="col-md-12 center-block">
                        <div class="product-slider-3 ltr ">
                            {% for product in most_bought_products %}
                                <div class="">
                                    {% include 'product_module/includes/slick_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left control-carousel product-control-carousel control-left prev-3">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right control-carousel product-control-carousel control-right next-3">
                            <i class="fa fa-angle-right"></i>
                        </a>


                    </div>
                </div>
            </div><!--RetailSale_items-->
        </div>


    </section>


    {#    <script#}
    {#            src="https://code.jquery.com/jquery-3.6.3.min.js"#}
    {#            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="#}
    {#            crossorigin="anonymous"></script>#}



{% endblock %}
{% block footer_references %}


    <script>
        {#$(document).ready(function () {#}
        $('.main-slider')
            .slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                prevArrow: $('.prev-0'),
                nextArrow: $('.next-0'),
                dots: true

            })


    </script>
    <script>
        {#$(document).ready(function () {#}
        $('.product-slider-1')
            .slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                arrows: true,
                prevArrow: $('.prev-1'),
                nextArrow: $('.next-1'),
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 4,


                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,

                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,

                        }
                    }

                ]
            })


    </script>
    <script>
        {#$(document).ready(function () {#}
        $('.product-slider-2')
            .slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                arrows: true,
                prevArrow: $('.prev-2'),
                nextArrow: $('.next-2'),
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 4,


                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,

                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,

                        }
                    }

                ]
            })


    </script>
    <script>
        {#$(document).ready(function () {#}
        $('.product-slider-3')
            .slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                arrows: true,
                prevArrow: $('.prev-3'),
                nextArrow: $('.next-3'),
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 4,


                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,

                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,

                        }
                    }

                ]
            })

        //        });


    </script>
    {#        <script>#}
    {#            $(document).ready(function () {#}
    {#                //  $(window).load(function () {#}
    {#                $('.load-part-1').show();#}
    {#                $('.load-part-2').show();#}
    {#            });#}
    {#            //   });#}
    {#        </script>#}

{% endblock %}
