{% load static %}
<script src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
{#<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>#}
{#<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}
{#<script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>#}
{#<script href="{% static 'js/slick.min.js' %}"></script>#}
{#<script href="{% static 'js/custom_slick.js' %}"></script>#}
<script src="{% static "js/bootstrap.min.js" %}"></script>
{#<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>#}
{#<script src="/static/js/bootstrap.min.js"></script>#}

{#<script src="/static/js/jquery.scrollUp.min.js"></script>#}
<script src="{% static "js/jquery.scrollUp.min.js" %}"></script>

{#<script src="/static/js/price-range.js"></script>#}
<script src="{% static "js/price-range.js" %}"></script>
{#<script src="/static/js/jquery.prettyPhoto.js"></script>#}
<script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
{#<script src="/static/js/main.js"></script>#}
<script src="{% static "js/main.js" %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{#<script src="/static/js/custom.js"></script>#}
<script src="{% static "js/custom.js" %}"></script>

