{% load static %}


<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">

<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet">
<link href="{% static "css/price-range.css" %}" rel="stylesheet">
<link href="{% static "css/animate.css" %}" rel="stylesheet">
<link href="{% static "css/main.css" %}" rel="stylesheet">
<link href="{% static "css/responsive.css" %}" rel="stylesheet">
{#<link href="{% static "css/custom.css" %}" rel="stylesheet">#}


<!--[if lt IE 9]>
{#<script src="{% static "" %}js/html5shiv.js"></script>#}
{#<script src="{% static "" %}js/respond.min.js"></script>#}
<![endif]-->
<link rel="shortcut icon" href="{% static "images/ico/favicon.ico" %}">

{#<link rel="apple-touch-icon-precomposed" sizes="144x144"#}
{#      href="{% static "" %}images/ico/apple-touch-icon-144-precomposed.png">#}
{#<link rel="apple-touch-icon-precomposed" sizes="114x114"#}
{#      href="{% static "" %}images/ico/apple-touch-icon-114-precomposed.png">#}
{#<link rel="apple-touch-icon-precomposed" sizes="72x72"#}
{#      href="{% static "" %}images/ico/apple-touch-icon-72-precomposed.png">#}
{#<link rel="apple-touch-icon-precomposed" href="{% static "" %}images/ico/apple-touch-icon-57-precomposed.png">#}
