{% load thumbnail %}
{% load poll_extras %}

<div class="">
    <a href="{{ product.get_absolute_url }}">
        <div class=" product-image-wrapper ">
            <div class=" single-products ">

                <div class="">

                    {% if product.image %}
                        {% thumbnail product.image "300x300" as im %}
                            <img src="{{ im.url }}" alt="{{ product.image.alt_text }}" class="product-picture">
                        {% endthumbnail %}
                    {% else %}
                        <img src="static/images/home/product.jpg" alt="">
                    {% endif %}
                </div>
                <div class="productinfo ">
                    <div class="product-text text-center ">
                        <p>{{ product.title }}</p><br><br><br>
                    </div>


                    <div class="price-tag">
                        <p class="text ">{{ product.price|three_digits_currency }}</p>
                    </div>

                </div>

            </div>

        </div>
    </a>
</div>