{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load thumbnail %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block header_references %}
    <link href="/static/lib/image-lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
{% endblock %}



{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 rtl">
                    <div class="category-tree ">

                        {% render_partial 'product_module.views.show_product_category_tree' loaded_product=product %}
                    </div>
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-8">
                            <div class="product-information"><!--/product-information-->
                                <img src="/static/images/product-details/new.png" class="newarrival" alt="">
                                <div>
                                    <h2>{{ product.title }}</h2>


                                </div>
                                <div>
									<span>
										<span>قیمت : {{ product.price|three_digits_currency }} </span>
									</span>
                                    <span>
                                        <label for="product-count">تعداد :</label>
										<input type="number" min="1" value="1"
                                               class="search_box" id="product-count">
										<button onclick="addProductToOrder({{ product.id }})"
                                                class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											افزودن به سبد خرید
										</button>
									</span>
                                </div>
                                <div>
                                    <p><b>موجـودی :</b> در انبـار موجود می باشد</p>

                                    {% if product.brand %}
                                        <p><b>برنـد :</b> {{ product.brand.title }} </p>
                                    {% endif %}
                                </div>

                            </div><!--/product-information-->
                        </div>
                        <div class="col-sm-4">
                            <div class="view-product">
                                {% if product.image %}
                                    <a style="color:white" id="show_large_image_modal" href="{{ product.image.url }}"
                                       data-lightbox="product-image">


                                        {% thumbnail product.image "600x700" crop="center" as im %}
                                            <img src="{{ im.url }}" width="im.width" height="im.height"
                                                 id="main_image" alt="{{ product.image_alt }}"
                                                 style="object-fit: contain"
                                                 onclick="">
                                        {% endthumbnail %}
                                    </a>
                                    {#                                    <img src="{{ product.image.url }}" alt="product-image" id="main_image">#}
                                {% else %}
                                    <img src="/static/images/product-details/1.jpg" alt="product-image" id="main_image">
                                {% endif %}

                            </div>
                            <div class="row">

                                <div class="col-xs-11 col-md-12 col-centered">
                                    <div id="carousel1" class="carousel slide" data-ride="carousel"
                                         data-type="multi"
                                         data-interval="10000">
                                        <div class="carousel-inner ">

                                            {% for item in galleries %}
                                                <div class="item  {% if forloop.first %} active {% endif %}">

                                                    <div class="carousel-col ">
                                                        <div class="col">
                                                            <a style="color:white" id="show_large_image_modal"
                                                               href="{{ item.image.url }}"
                                                               data-lightbox="product-image">
                                                                <div class="custom-item">
                                                                    {% thumbnail item.image "75x75" crop="center" as im %}
                                                                        <img src="{{ im.url }}"
                                                                             alt="{% if item.alt_text %} {{ item.alt_text }} {% endif %}"
                                                                             style="object-fit: contain"
                                                                             class="center-block"
                                                                             onclick="">
                                                                    {% endthumbnail %}
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}


                                            <!-- Controls -->
                                        </div>
                                        {% if related_products|length > 4 %}
                                            <div class="left carousel-control">
                                                <a href="#carousel1" role="button" data-slide="prev">
                                                                                                <span class="glyphicon glyphicon-chevron-left"
                                                                                                      aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </div>
                                            <div class="right carousel-control">
                                                <a href="#carousel1" role="button" data-slide="next">
                                                                                                <span class="glyphicon glyphicon-chevron-right"
                                                                                                      aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                            </div>
                                        {% endif %}
                                </div>

                            </div>
                        </div>

                    </div>
                </div><!--/product-details-->
            </div>


            <div class="category-tab shop-details-tab rtl"><!--category-tab-->
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#specification" data-toggle="tab">مشخصات</a></li>
                        <li class=""><a href="#description" data-toggle="tab">جزئیات</a></li>
                        <li class="review_count"><a href="#reviews_area" id="review_count"
                                                    data-toggle="tab">نظرات
                            ({{ reviews_count }})</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content rtl">
                <div class="tab-pane fade active in" id="specification">

                    <div class="col-md-12 ">

                        <h2 class="title text-center">مشخصات</h2>

                        {% for key, value in product_specification.items %}
                            <div class="row">


                                <div class="col-sm-6 ">
                                    <h5 class="">
                                        {{ value }}
                                    </h5>
                                </div>

                                <div class="col-sm-6 ">
                                    <h5 class="">{{ key }}</h5>
                                </div>
                            </div>
                            <hr class="">

                        {% endfor %}
                    </div>


                </div>
                <div class="tab-pane fade  " id="description">
                    <div class="col-md-12">
                        {{ product.description }}
                    </div>
                </div>
                <div class="tab-pane fade" id="reviews_area">
                    <div class="response-area" id="review_area"><!--Reviews-->
                        <h2 class="review_count"> نظرات ({{ reviews_count }})</h2>
                        <ul class="media-list " id="main_med">

                            {% for review in reviews %}
                                <ul class="media">
                                    <li class="media" id="sinlge_review_box_{{ review.id }}">
                                        <a class="pull-right" href="#">
                                            <img class="media-object"
                                                 src="/static/images/blog/Customer.jpg"
                                                 alt="">
                                        </a>
                                        <div class="media-body">
                                            <ul class="sinlge-post-meta">
                                                <li><i class="fa fa-user"></i>{{ review.user }}</li>
                                                <li>
                                                    <i class="fa fa-clock-o"></i> {{ review.create_date | time }}
                                                </li>
                                                <li>
                                                    <i class="fa fa-calendar"></i> {{ review.create_date|show_jalali_date }}
                                                </li>
                                            </ul>
                                            <p>
                                                {{ review.text }}
                                            </p>
                                            <a class="btn btn-primary" id="review_{{ review.id }}"
                                               onclick="fillParentId({{ review.id }})"><i
                                                    class="fa fa-reply"></i>پاسـخ</a>
                                        </div>
                                    </li>

                                    {% for sub_review in review.productreview_set.all %}
                                        <li class="media second-media"
                                            id="single_review_box_{{ review.id }}">
                                            <a class="pull-right" href="#">
                                                <img class="media-object"
                                                     src="/static/images/blog/Customer.jpg"
                                                     alt="">
                                            </a>
                                            <div class="media-body">
                                                <ul class="sinlge-post-meta">
                                                    <li><i class="fa fa-user"></i>{{ sub_review.user }}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-clock-o"></i> {{ sub_review.create_date | time }}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> {{ sub_review.create_date|show_jalali_date }}
                                                    </li>
                                                </ul>
                                                <p>
                                                    {{ sub_review.text }}
                                                </p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}

                        </ul>
                    </div><!--/Response-area-->
                    <div class="replay-box" id="review_form">
                        {% if request.user.is_authenticated %}
                            <form method="post">
                                {% csrf_token %}


                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2>نظـر خود را بنویسیـد</h2>
                                        <div class="blank-arrow">
                                            <label>متن پیام</label>
                                        </div>
                                        <div class="text-area">


                                            {{ product_review_form }}
                                            {% if  product_review_form.text.errors %}
                                                {% for error in product_review_form.text.errors %}
                                                    <div class="alert alert-danger">
                                                        <p class="warning">
                                                            {{ error }}
                                                        </p>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}


                                            <button type="submit" class="btn btn-primary"
                                                    id="send_review_btn">
                                                ارسـال
                                                نظـر
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <div class="alert alert-warning">
                                برای درج نظر می بایست <a href="{% url 'login_page' %}">لاگین</a> کنید
                            </div>
                        {% endif %}
                    </div><!--/Replay Box-->
                </div>
            </div>


        </div><!--/category-tab-->
        <br>
        <br>

        <div class="container ">
            <div class="row">
                <h2 class="title text-center">محصولات مرتبط</h2>
                <div class="col-xs-11 col-md-12 col-centered">

                    <div id="carousel2" class="carousel slide" data-ride="carousel" data-type="multi"
                         data-interval="15000">
                        <div class="carousel-inner ">

                            {% for product in related_products %}
                                <div class="item {% if forloop.first %} active {% endif %}">

                                    <div class="carousel-col  ">
                                        <div class="">
                                            {% include 'product_module/includes/slick_card.html' %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                        {% if related_products|length > 4 %}
                            <!-- Controls -->
                            <div class="left carousel-control">
                                <a href="#carousel2" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </div>
                            <div class="right carousel-control">
                                <a href="#carousel2" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {% endif %}<!-- Controls -->


                    </div>
                </div>
            </div>

        </div> <!--/recommended_items-->


    </section>



{% endblock %}
{% block footer_references %}
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#send_review_btn").on('click', function () {
                const review = $('#review_text').val();
                const parentId = $('#parent_id').val();
                console.log(parentId);
                console.log('done');
                if (review) {
                    $("#send_review_btn").addClass('disabled').text('در حال ارسال');

                    $('#review_text').val('');
                    // Append Element


                    if (parentId) {
                        let _html = '<li class="media second-media animate__animated animate__backInRight  " id="second_review_box_temp">\
                                                    <a class="pull-right" href="#">\
                                                        <img class="media-object" src="/static/images/blog/Customer.jpg"\
                                                             alt="">\
                                                    </a>\
                                                    <div class="media-body">\
                                                                                                            <ul class="sinlge-post-meta">\
                                                            <li><i class="fa fa-user"></i>شما</li>\
                                                            <li>\
                                                                <i class="fa fa-clock-o"></i> در انتظار تایید\
                                                            </li>\
                                                            <li>\
                                                                <i class="fa fa-calendar"></i> در انتظار تایید\
                                                            </li>\
                                                        </ul>\
                                                        <p> ' + review + '  </p> \
                                                          </div>\
                                                </li> <li> <div class="alert alert-info"><p> در انتظار تایید</p></div></li>';
                        $("#review_" + parentId).after(_html);
                        $([document.documentElement, document.body]).animate({
                            scrollTop: $("#second_review_box_temp").offset().top
                        }, 500);


                    } else {
                        let _html = '<ul class="media">\
                                                <li class="media" id="sinlge_review_box_temp">\
                                                    <a class="pull-right" href="">\
                                                        <img class="media-object" src="/static/images/blog/Customer.jpg"\
                                                             alt="">\
                                                    </a>\
                                                    <div class="media-body">\
                                                        <ul class="sinlge-post-meta">\
                                                            <li><i class="fa fa-user"></i>شما</li>\
                                                            <li>\
                                                                <i class="fa fa-clock-o"></i> در انتظار تایید\
                                                            </li>\
                                                            <li>\
                                                                <i class="fa fa-calendar"></i> در انتظار تایید\
                                                            </li>\
                                                        </ul>\
                                                        <p>' + review + '</p>\
                                                    </div>\
                                                </li>\ \
                                                <li> <div class="alert alert-info"><p> در انتظار تایید</p></div></li>\
                                            </ul>';
                        $("#main_med").prepend(_html);
                        $([document.documentElement, document.body]).animate({
                            scrollTop: $("#sinlge_review_box_temp").offset().top
                        }, 1000);

                    }

                    $("#main_med ").after(_html);
                    $('#parent_id').val('');


                    let prevCount = $("#review_count").text();
                    $("#review_count").text("نظرات" + (parseInt(prevCount) + 1));
                    $("#send_review_btn").removeClass('disabled').text('در حال ارسال');

                } else {
                    console.log('em')
                }


            })
        })
    </script>
    <script src="/static/lib/image-lightbox/js/lightbox.min.js"></script>


{% endblock %}
