{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load render_partial %}

{% block title %}لیست محصولات{% endblock %}

{% block content %}
    <section>
        <div class="container rtl">
            <div class="row">

                <div class="col-sm-9">
                    {% if products %}
                        <div class="features_items "><!--features_items-->
                            <h2 class="title text-center">محصولات</h2>
                            {% for product in products %}
                                <div class="col-sm-4">
                                    {% include 'product_module/includes/slick_card.html' with product=product %}
                                </div>
                            {% endfor %}
                            <div class="clearfix"></div>
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a class="cursor-pointer"
                                           onclick="fillPage({{ page_obj.previous_page_number }})">قبلی</a></li>
                                {% endif %}
                                {% for pageNumber in paginator.page_range %}
                                    <li class="{% if page_obj.number == pageNumber %} active {% endif %}">
                                        <a class="cursor-pointer"
                                           onclick="fillPage({{ pageNumber }})">{{ pageNumber }}</a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a class="cursor-pointer" onclick="fillPage({{ page_obj.next_page_number }})">بعدی</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div><!--features_items-->
                    {% else %}
                        <div class="alert alert-warning">
                            <p>هیچ محصولی یافت نشد</p>
                        </div>
                    {% endif %}
                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {% render_partial 'product_module.views.product_categories_component' %}
                        {% render_partial 'product_module.views.product_brands_component' %}


                        <div class="price-range"><!--price-range-->
                            <h2>فیلتـر قیمـت</h2>
                            <div class="well">
                                <input
                                        type="number"
                                        class=""
                                        style="width: 100%;"
                                        value="{{ start_price }},{{ end_price }}"
                                        data-slider-min="0"
                                        data-slider-max="{{ db_max_price }}"
                                        data-slider-step="1000"
                                        data-slider-value="[{{ start_price }},{{ end_price }}]"
                                        id="sl2">
                                <br/>
                                <b>{{ db_max_price }}</b> <b class="pull-left">0</b>
                            </div>
                        </div><!--/price-range-->
                        <div>
                            <form action="" method="get" id="filter_form">
                                <input type="hidden" name="page" id="page" value="{{ page_obj.number }}">
                                <input type="hidden" name="start_price" id="start_price" value="{{ start_price }}">
                                <input type="hidden" name="end_price" id="end_price" value="{{ end_price }}">
                            </form>
                            <button class="btn btn-success btn-block" onclick="filterProducts()">فیلتر</button>
                        </div>
                        <div class="shipping text-center"><!--shipping-->
                            {% for banner in banners %}
                                <a href="{{ banner.url }}">
                                    <img src="{{ banner.image.url }}" alt="">
                                </a>
                            {% endfor %}
                            <br>
                            <br>
                        </div><!--/shipping-->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}